<!--Mensagem de sucesso-->
  {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
  {{/if}}
<!--Mensagem de erro-->
  {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}}